body{
    background: #333;
}

.box{
    background: #fff;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes myanimation{
    0%{
        background-color: #fff;
        top: 0;
        left:0;
    }
    20%{
        background-color: #f00;
        top: 0%;
        left:0%;
    }
    100%{
        background-color: #f00;
        top:0;
        left:300px;
        
    }
}